<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My AngularJS App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="app.css">-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">

        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyAwtdNS78AxGrkqclUdEBkyo2Di_2An7NQ",
                authDomain: "ascend-94e2f.firebaseapp.com",
                databaseURL: "https://ascend-94e2f.firebaseio.com",
                projectId: "ascend-94e2f",
                storageBucket: "ascend-94e2f.appspot.com",
                messagingSenderId: "1014092397652"
            };
            firebase.initializeApp(config);
        </script>


        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

        <!-- AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

        <!-- Foundation -->
        <script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"></script>


    </head>
    <body ng-app="myApp" ng-controller="IndexCtrl">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text"><a href="#!">Ascend UIUC</a></li>
                    <li><a href="#!/view1">Member Information</a></li>
                    <li ng-if="userDB.admin"><a href="#!/view2">Event Information</a></li>
                    <li>{{userDB.admin}}</li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li><button class="button" ng-if="displayLogin" ng-click="login()">Login with Google Account</button></li>
                    <li><button class="button" ng-if="!displayLogin" ng-click="logout()">Logout</button></li>
                </ul>
            </div>
        </div>

        <div ng-view></div>

        <script src="app.js"></script>
        <script src="index.js"></script>
        <script src="view1/view1.js"></script>
        <script src="view2/view2.js"></script>
        <script src="components/version/version.js"></script>
        <script src="components/version/version-directive.js"></script>
        <script src="components/version/interpolate-filter.js"></script>
    </body>
</html>
